.dot {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: red;
	margin-bottom: 10px;
}

.dot:hover{
	background-color: green;
	cursor: pointer;
}


.box{
	width: 200px;
	height: 200px;
	background-color: red;
	margin-bottom: 10px;
}

.special{
	position: fixed;
	top: 50px;
	left: 600px;
}